<!-- <html lang="en">

<head>
    <title>Countries</title>
    <style>
        #country {
          float: left;
            width: 400px;
            height: 250px;
            margin: 10px;
            border-radius: 7px;
            box-shadow: 0px 0px 5px grey;
            background-size: cover;
        }
      </style>
</head>

<body>
    <div>
    {% block content %}
        {% for country in countries %}
        <div id="country">
        </div>
        {% endfor %}
    {% endblock %}
    </div>
</body>
</html> -->